
main{
    height: 455vh;
    background-color: #19191B;
    font-family: "Lato", sans-serif;
}
body{
    margin: 0;
    font-family: "Lato", sans-serif;
}
header{
    padding-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 120px;
    padding-left: 80px;
}
.logo{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    padding-right: 5px;
}
span{
    color: #FFF;
    font-family: Montserrat,sans-serif;
    font-size: 28px;
}
.images{
    justify-items: center;
    padding-left: 70px;
    display: flex;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.70);
    font-size: 18px;
    margin: 40px;
}
nav a:nth-child(1){
    color: #5454D4;
    font-size: 20px;
    font-weight: 400;
}
button{
    border-radius: 5px;
    border: 1px solid #FFF;
    backdrop-filter: blur(1px);
    background-color: transparent;
    width: 157px;
    height: 44px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
}
article{
    height: 70vh;
    width: 87vw;
}
section{
    display: flex;
    height: 80vh;
    width: 80vw;
    padding-left: 90px;
    padding-top: 70px;
    margin: 0;
}
.info{
    width: 80%;
    height: 70vh;
    padding-left: 60px;
}
.photo{
    width: 45%;
    height: 65vh;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.photo img{
    height: 74vh;
    width: 50vw;
}
.info h1{
    padding-top: 25px;
    color: #FFF;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    width: 70%;
    margin: 0;
}
.info p{
    color: rgba(255, 255, 255, 0.70);
    font-size: 21px;
    font-weight: 400;
    line-height: 39px;
    padding-bottom: 13px;
    width: 81%;
    letter-spacing: -0.657px;
}
.services{
    border: none;
    border-radius: 4px;
    background: #5454D4;
    width: 204px;
    height: 58px;
    padding-right: 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
}
.page2 header h1{
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    width: 40%;
    padding-left: 70px;
}
header{
    display: flex;
    justify-content: space-between;
}
.page2 header span{
    color: rgba(255, 255, 255, 0.70);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.657px;
    font-family: "Lato", sans-serif;
    padding-bottom: 65px;
    width: 40%;
}
.work{
    padding-left: 150px;
    width: 83%;
}
.top_text{
    color: #FFF;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    padding-top: 70px;
}
.h3{
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}
.infobox{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.5px;
    width: 60%;
    margin: 0;
}
.container_menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 70vh;
    width: 70vh;
    padding-left: 90px;
}
.box1{
    height: 27vh;
    width: 30vw;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
}
.box2{
    height: 27vh;
    width: 30vw;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.box3{
    height: 27vh;
    width: 30vw;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 90px;
}
.box4{
    height: 27vh;
    width: 30vw;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 35px;
}
.box5{
    height: 27vh;
    width: 30vw;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
}
.box6{
    height: 27vh;
    width: 30vw;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 73px;
}
.relative1{
    position: relative;
    top:20px
}
.relative2{
    position: relative;
    top:-35px;
}
h4{
    color: #FFF;
    font-size: 58px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 120px;
    padding-top: 50px;
}
.foto_keeper{
    align-items: center;
    justify-content: center;
    padding-left: 264px;
}
.card{
    padding-right: 90px;
}
.frame{
    padding-left: 240px;
    position: relative;
}
.frame1{
    padding-right: 24px;
    position: relative;
}
.frame2{
    padding-right: 24px;
    position: relative;
}
.frame3{
    position: relative;
}
.card1{
    padding-right: 73px;
    position: relative;
    top: -280px;
}
.card2{
    padding-right: 73px;
    position: relative;
    top: -280px;
}
.card3{
    position: relative;
    top: -280px;
}
.color{
    background: rgba(30, 30, 32, 0.50);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
h6{
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50%;
    padding-right: 200px;
}
.contact_us{
    border: none;
    border-radius: 4px;
    background: #5454D4;
    width: 204px;
    height: 58px;
    padding-right: 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
.rights{
    color: rgba(255, 255, 255, 0.70);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -0.5px;
    padding-right: 140px;
    padding-top: 70px;
}
footer{
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}
.end_page{
    align-items: center;
    display: flex;
    padding-left: 140px;
    padding-top: 70px;
}